ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 0.7rem;
  color: #96786e;
  line-height: 1;
}

.fz12 {
  font-size: 0.6rem;
}

.fz13 {
  font-size: 0.65rem;
}

.fz16 {
  font-size: 0.8rem;
}

.fz18 {
  font-size: 0.9rem;
}

.fz20 {
  font-size: 1rem;
}

.c-f4c {
  color: #f74c4c;
}

.c-f80 {
  color: #f98e00;
}

.c-cb4 {
  color: #c8b4b4;
}

.c-fff {
  color: #fff;
}

.ld-block {
  display: block;
}

.ld-bar-nav {
  background-image: linear-gradient(-270deg, #f57864 0%, #f74c4c 100%);
}

.ld-bar-nav,
.ld-bar-nav>.title,
.ld-bar-nav>.button-nav {
  height: 2rem;
  line-height: 2rem;
}

.ld-bar-nav>.button-nav {
  color: #fff;
}

.ld-bar-nav>.title {
  color: #fff;
  font-size: 0.9rem;
}

.ld-bar-nav~.content {
  top: 2rem;
}

.pd-details-box>.inf-ele {
  background-color: #fff;
  margin-bottom: 0.75rem;
}

.pd-details-box>.inf-ele>.ele {
  padding: 1rem;
}

.pd-details-box>.inf-ele>.ele+.ele {
  border-top: solid 1px #dcdcdc;
}

.pd-details-box>.inf-ele>.pd-base-inf {
  text-align: center;
}

.pd-details-box>.inf-ele>.pd-base-inf .zy-num {
  margin: 0.45rem 0;
  font-size: 1.75rem;
  color: #f74c4c;
}

.pd-earnings-inf {
  margin-top: 1.05rem;
}

.pd-earnings-inf>.col-50 {
  margin-top: 0;
  margin-bottom: 0;
}

.pd-earnings-inf>.col-50 dt {
  margin-bottom: 0.6rem;
}

.pd-earnings-inf>.col-50 dd {
  margin: 0;
}

.pd-earnings-inf>.col-50:nth-child(1) {
  text-align: right;
  padding-right: 0.9rem;
  position: relative;
}

.pd-earnings-inf>.col-50:nth-child(1):after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #e6dcdc;
}

.pd-earnings-inf>.col-50:nth-child(2) {
  text-align: left;
  padding-left: 0.9rem;
}

.ld-buttons-tab {
  text-align: center;
  display: block;
}

.ld-buttons-tab .tab-link {
  display: inline-block;
  padding: 0.125rem 0.3rem;
  border-radius: 0.8rem;
  font-size: 0.55rem;
  border: solid 1px #96786e;
  color: #96786e;
}

.ld-buttons-tab .tab-link+.tab-link {
  margin-left: 0.55rem;
}

.ld-buttons-tab .tab-link.active {
  background-color: #f98e00;
  border-color: #f98e00;
  color: #fff;
}

.ld-buttons-tab:after {
  background-color: transparent;
}

.ld-content-block {
  margin: 2.05rem 0 0;
  padding: 0;
}

.ld-content-block .content-block {
  margin: 0;
  padding: 0;
}

.ld-content-block .pd-chart-box {
  margin-bottom: 0.6rem;
}

.pd-other-inf-list>li {
  font-size: 0.6rem;
}

.pd-other-inf-list>li>a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
  color: #96786e;
}

.pd-other-inf-list>li>a:after {
  position: absolute;
  font-family: "iconfont-sm" !important;
  content: "\e613";
  color: #dcd2d2;
  right: 0.75rem;
  top: 1rem;
  font-size: .6rem;
}

.pd-other-inf-list>li.single>a {
  padding: 1.05rem 1.5rem 1.05rem 0.75rem;
}

.pd-other-inf-list>li.single>a>.lab {
  line-height: 1;
}

.pd-other-inf-list>li+li {
  border-top: solid 1px #dcdcdc;
}

.pd-other-inf-list>li .r-con>.ele {
  line-height: 1.4;
}

.pd-other-inf-list>li .lab {
  line-height: 2.8;
}

.pd-other-inf-list>li.no-row-right>a:after {
  content: "";
}

.ld-bar-tab {
  height: 3rem;
}

.ld-bar-tab~.ld-content {
  bottom: 3rem;
}

.ld-bar-tab .buttons-row .button {
  height: 3rem;
  top: 0;
  border-radius: 0;
  border: none;
  border-top: solid 1px #e6dcdc;
  font-size: 1rem;
  line-height: 3;
  color: #f74c4c;
}

.ld-bar-tab .buttons-row .button+.button {
  border-left: solid 1px #e6dcdc;
}

.ld-buttons-tab2 .button {
  color: #96786e;
}

.ld-buttons-tab2 .button.active {
  color: #f74c4c;
  border-color: #f74c4c;
}

.rule-content-block {
  margin: 0;
  padding: 0;
  color: #96786e;
}

.rule-content-block .content-block {
  margin: 0.75rem 0 0;
  padding: 0 0.75rem;
  background-color: #fff;
  color: #96786e;
}

.rule-content-block .content-block>h3 {
  font-size: 0.7rem;
  padding: 0.9rem 0.75rem;
  line-height: 1;
  border-bottom: solid 1px #e6dcdc;
  margin: 0 -0.75rem;
  font-weight: normal;
}

.rule-content-block .content-block>.tip-con {
  padding: 0.85rem 0;
  border-top: solid 1px #e6dcdc;
}

.rule-content-block .content-block>.tip-con h4 {
  font-weight: normal;
  margin: 0;
}

.rule-content-block .content-block>.tip-con h4+p {
  margin-top: .5rem;
}

.rule-content-block .content-block>.tip-con p {
  margin: 0;
  color: #c8b4b4;
  line-height: 1.4;
  font-size: 0.6rem;
}

.ld-table {
  width: 100%;
}

.ld-table tr th {
  color: #c8b4b4;
  font-size: 0.6rem;
}

.ld-table tr td,
.ld-table tr th {
  padding: 0.9rem 0;
  font-weight: normal;
  text-align: center;
  line-height: 1.2;
}

.ld-table tr td:first-child,
.ld-table tr th:first-child {
  text-align: left;
}

.ld-table tr td:last-child,
.ld-table tr th:last-child {
  text-align: right;
}

.ld-table tr+tr {
  border-top: solid 1px #e6dcdc;
}

.pd-form-con {
  margin: 1rem .75rem;
  padding: 0 1rem 1.5rem;
  background-color: #fff;
}

.pd-form-con>.ele+.ele {
  position: relative;
  border-top: dashed 1px #dcd2d2;
}

.pd-form-con>.ele+.ele:before,
.pd-form-con>.ele+.ele:after {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  background-color: #eeeeee;
  top: -0.6rem;
}

.pd-form-con>.ele+.ele:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -1rem;
}

.pd-form-con>.ele+.ele:after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: -1rem;
}

.pd-form-con>.tit {
  padding: 0.9rem 0;
}

.pd-form-con>.tit .num {
  display: inline-block;
  font-size: 1rem;
  padding: 0 0.25rem;
  margin-right: 0.25rem;
  border-right: solid 1px #e6dcdc;
}

.pd-form-con>.ele-box {
  padding: 1.45rem 0;
}

.pd-form-con>.ele-box>.tit {
  margin-bottom: 0.75rem;
}

.pd-form-con>.ele-box>.item-form {
  padding: 0 1rem;
  border: solid 1px #e6dcdc;
  border-radius: 0.2rem;
  overflow: hidden;
  font-size: 0.8rem;
}

.pd-form-con>.ele-box>.item-form.disabled,
.pd-form-con>.ele-box>.item-form.disabled input[type='number']:disabled {
  background-color: #dcd2d2;
}

.pd-form-con>.ele-box>.item-form>label {
  padding: 0.6rem 0;
  color: #c8b4b4;
  line-height: 1.2;
}

.pd-form-con>.ele-box>.item-form>.control {
  margin-left: 5rem;
}

.pd-form-con>.ele-box>.item-form>.control input[type='text'],
.pd-form-con>.ele-box>.item-form>.control input[type='number'] {
  padding: 0.65rem 0;
  border: none;
  outline: none;
  text-align: right;
  width: 100%;
  color: #96786e;
}

.pd-form-con>.ele-box>.item-form+.item-form {
  margin-top: 1rem;
}

.pd-form-con>.ele-box>.item-form+p {
  font-size: 0.8rem;
  margin: 1.25rem 0 0;
}

.pd-form-con>.ele-box>.bcard-item-form {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
}

.pd-form-con>.ele-box>.bcard-item-form img {
  max-width: 1.5rem;
}

.pd-form-con>.ele-box>.bcard-item-form>.con {
  margin-left: 1.9rem;
}

.pd-form-con>.ele-box>.bcard-item-form>.con .tit+div {
  margin-top: 0.15rem;
}

.pd-form-con>.ele-box>.bcard-item-form .icon-caret {
  position: absolute;
  color: #dcd2d2;
  top: 50%;
  margin-top: -0.25rem;
  right: .5rem;
  font-size: 0.7rem;
}

.pd-form-con>.ele-box>p {
  font-size: 0.8rem;
  margin: 0;
}

.pd-form-con>.ele-box>p+p {
  margin-top: 1.25rem;
}

.ld-button-block {
  width: 100%;
  display: block;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #f75858;
  box-shadow: 0px 10px 20px 0px rgba(247, 75, 75, 0.35);
  border-color: #f75858;
}

.ld-button-block.disabled,
.ld-button-block[type="submit"]:disabled,
.ld-button-block[type="button"]:disabled {
  background-color: #dcd2d2;
  color: #fff;
  border-color: #dcd2d2;
  box-shadow: none;
}

.ld-link-more-btn {
  position: relative;
}

.ld-link-more-btn:after {
  position: absolute;
  font-family: "iconfont-sm" !important;
  content: "\e613";
  color: #dcd2d2;
  right: 0.25rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: .6rem;
  font-weight: bold;
}

.red-packet-list {
  padding: 1rem 0.75rem;
}

.red-packet-list>li {
  position: relative;
  padding: 1.55rem 1.25rem;
  background-color: #fff;
  border-radius: 0.2rem;
  overflow: hidden;
}

.red-packet-list>li>.packet-con {
  float: left;
  padding-right: 1.15rem;
  border-right: dashed 1px #e8dede;
}

.red-packet-list>li>.packet-con .packet {
  width: 2.45rem;
  height: 3rem;
  padding-top: 1.4rem;
  text-align: center;
  font-size: 1.15rem;
  color: #fff000;
}

.red-packet-list>li>.packet-con .note {
  font-size: 0.5rem;
  margin-top: 0.25rem;
}

.red-packet-list>li>.packet-txt {
  float: left;
  padding-left: 1.1rem;
}

.red-packet-list>li>.packet-txt h4 {
  font-size: 0.8rem;
  margin: 0 0 0.4rem;
}

.red-packet-list>li>.packet-txt ul li {
  margin-top: 0.25rem;
  color: #c8b4b4;
  font-size: 0.6rem;
  list-style: none;
}

.red-packet-list>li>.packet-txt ul li:before {
  display: inline-block;
  content: "";
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background-color: #c8b4b4;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.red-packet-list>li .ld-mn-radio {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 1.25rem;
}

.red-packet-list>li:before,
.red-packet-list>li:after {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  background-color: #eeeeee;
  top: 50%;
  transform: translate(0, -50%);
}

.red-packet-list>li:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
}

.red-packet-list>li:after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
}

.red-packet-list>li+li {
  margin-top: 0.75rem;
}

.ld-mn-radio {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: solid 0.075rem #c8b4b4;
  background-color: #faf5f5;
}

.ld-mn-radio.icon-check {
  background-color: #f74c4c;
  border-color: #f74c4c;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  line-height: 1rem;
}

.ld-modal-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ld-modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  max-height: 60%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.ld-modal>.tit {
  padding: 0.65rem 0;
  text-align: center;
  font-size: 0.9rem;
  overflow: hidden;
  position: relative;
}

.ld-modal>.tit .l-btn {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.7rem 0.85rem;
  font-size: 0.8rem;
}

.ld-modal>.con {
  padding: 0 1rem;
  background-color: #fff;
}

.bank-card-list li {
  padding: 0.75rem 0;
  list-style: none;
  position: relative;
}

.bank-card-list li img {
  width: 30px;
  height: 30px;
}

.bank-card-list li .cont {
  margin-left: 2.375rem;
}

.bank-card-list li .cont p {
  margin: 0;
  font-size: 0.6rem;
  color: #c8b4b4;
}

.bank-card-list li .cont p .name {
  font-size: 0.75rem;
  color: #96786e;
}

.bank-card-list li .cont p+p {
  margin-top: 0.25rem;
}

.bank-card-list li+li {
  border-top: solid 1px #e6dcdc;
}

.bank-card-list li.active:after {
  position: absolute;
  font-family: iconfont-sm !important;
  font-style: normal;
  content: "\e608";
  color: #f74c4c;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: bold;
}

.bank-card-list li .add-card-link-btn {
  display: block;
  margin: -0.75rem 0;
  padding: 0.7rem 0;
  overflow: hidden;
  color: #96786e;
  position: relative;
}

.bank-card-list li .add-card-link-btn .cont {
  padding: 0.3rem 0;
}

.ld-modal-container {
  margin: 5px 0;
}

.ld-modal-container .pagination>.inp {
  padding: .5rem 1rem;
  border: solid 1px #e6dcdc;
  border-radius: 0.2rem;
  outline: none;
  width: 100%;
}

.ld-modal-container .pagination>p {
  margin: .9rem 0 0;
  text-align: right;
}

.ld-modal-container .pagination>p a {
  text-decoration: underline;
}

.ld-ico-tip {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background: url(../img/tip_icon.png) no-repeat;
  background-size: cover;
  margin-left: 0.25rem;
}

.pwd_forget {
  display: block;
  text-align: right;
  font-size: .6rem;
  margin-top: .5rem;
  color: #96786e;
  text-decoration: underline;
}

.td-u {
  text-decoration: underline;
}

.ico {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/ico.png) no-repeat;
}

.ico-eye {
  width: 16px;
  height: 16px;
  /* background: url(../../img/ico-eye.png) no-repeat left center; */
  background-size: 16px;
}

.ico-eye-close {
  width: 15px;
  height: 7px;
  /* background: url(../../img/ico-eye-close.png) no-repeat left center; */
  background-size: cover;
}

.banner-box {
  position: relative;
}

.banner-box>a,
.banner-box img {
  display: block;
  width: 100%;
}

.banner-box .ico-del {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  width: .9rem;
  height: .9rem;
  background-size: .9rem;
}

.pd-details-box1>.ele {
  padding: 0.75rem;
  background-color: #fff;
}

.pd-details-box1>.ele+.ele {
  margin-top: .75rem;
}

.pd-details-box1>.base-inf>.item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pd-details-box1>.base-inf>.item1>* {
  flex-basis: 2.5rem;
}

.pd-details-box1>.base-inf>.item1 p {
  flex: 3;
  margin: 0 1rem 0 0;
  line-height: 1.4;
}

.link-more {
  flex-basis: 1.8rem !important;
  display: inline-block;
  padding: 3px 2px;
  border: solid 1px #c8b4b4;
  font-size: 0.6rem;
  border-radius: 5px;
  color: #96786e;
  text-align: center;
}

.advantage-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1.25rem;
}

.advantage-list li {
  list-style: none;
}

.advantage-list li .img-con {
  width: 3.25rem;
  height: 3.8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.advantage-list li .img-con img {
  max-width: 100%;
}

.advantage-list li h3 {
  margin: 0.75rem 0 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
}

.lhb-vs-bankPro h3 {
  margin: .5rem 0 1.5rem;
  text-align: center;
  font-size: .8rem;
  font-weight: normal;
}

.lhb-vs-bankPro>.item {
  display: flex;
  align-items: center;
  font-size: .6rem;
  margin-bottom: 1.65rem;
}

.lhb-vs-bankPro>.item>.l {
  text-align: right;
  line-height: 1.5;
  flex: 0 1 5.2rem;
}

.lhb-vs-bankPro>.item>.l label {
  display: block;
  font-size: .7rem;
}

.lhb-vs-bankPro>.item .c {
  margin: 0 .5rem 0 .75rem;
  height: 1rem;
}

.lhb-vs-bankPro>.item1>.c {
  width: 40%;
  background-color: #f77c7c;
}

.lhb-vs-bankPro>.item2>.c {
  width: 4%;
  background-color: #9bbaff;
}

.lhb-pro-baseInf {
  padding: .75rem 1rem;
  text-align: center;
  font-size: .6rem;
  color: #c8b4b4;
}

.nl-lhb-detais>footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 1.75rem;
  background-color: #fff;
}

.nl-lhb-detais>.content {
  bottom: 3.9rem;
}

.select-lhb-pro-list>li .cont {
  margin-left: 0;
}

.sel-hbProList-modal .con>.tip {
  padding: 0.35rem 0;
  text-align: center;
  font-size: .6rem;
  border-top: solid 1px #e6dcdc;
}

.pd-details-box>.more-tip-box {
  margin-top: -0.75rem;
  padding: 1.1rem 1rem;
  text-align: center;
}

.pd-details-box>.more-tip-box .button {
  display: inline-block;
  color: #96786e;
  border-color: #c8b4b4;
}

.pd-form-con>.ele-box>.item-form+.tit {
  margin-top: 1rem;
}

.pd-form-con>.ele-box>.tit>p {
  font-size: .6rem;
  color: #c8b4b4;
  margin: .2rem 0 0;
}

.pd-form-con>.ele-box>.buy-item-form .control {
  margin-left: 0;
  position: relative;
}

.pd-form-con>.ele-box>.buy-item-form .control input[type="number"] {
  text-align: left;
}

.pd-form-con>.ele-box>.buy-item-form .control:after {
  position: absolute;
  content: "å…ƒ";
  right: 0;
  top: .7rem;
}

.rd-inp-box {
  display: flex;
  justify-content: space-between;
}

.rd-inp-box>.inp-con {
  width: 63%;
  position: relative;
}

.rd-inp-box>.inp-con .inp {
  font-size: .8rem;
  padding: .7rem;
  border-radius: 4px;
  border: solid 1px #e6dcdc;
  min-width: 0;
  width: 100%;
}

.rd-inp-box>.inp-con:after {
  position: absolute;
  top: .8rem;
  right: .5rem;
  content: "å…ƒ";
  font-size: .8rem;
}

.rd-inp-box .button {
  width: auto;
  font-size: .7rem;
}

.ld-bar-nav>.pull-right {
  color: #fff;
  position: relative;
  z-index: 10;
  font-size: .8rem;
}

.ld-bar-nav>.pull-right .icon {
  margin-left: 5px;
  font-size: .7rem;
}

.trading-list>li {
  background-color: #fff;
  display: flex;
}

.trading-list>li>a {
  display: flex;
  color: #96786e;
  width: 100%;
}

.trading-list>li>a>* {
  height: 5rem;
}

.trading-list>li .l {
  padding: 1rem .5rem;
  text-align: center;
  width: 26.66%;
  background-color: #fafafa;
}

.trading-list>li .l label {
  font-size: .9rem;
  display: block;
  margin-bottom: .3rem;
}

.trading-list>li .l .time {
  font-size: .6rem;
  color: #c8b4b4;
  line-height: 1.4;
}

.trading-list>li .c {
  padding: .75rem .5rem;
  width: 73.34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trading-list>li .c .icon {
  font-size: .8rem;
  color: #dcd2d2;
}

.trading-list>li+li {
  margin-top: .75rem;
}

.trading-list>li.c1>a .c-state {
  color: #f74c4c;
}

.trading-list>li.c2>a .c-state {
  color: #32be96;
}

.trading-list>li.not-has-data {
  padding: 1.5rem .5rem;
  text-align: center;
  justify-content: center;
}

.filter-modal {
  top: 2rem;
  bottom: auto;
}

.filter-modal>.con {
  padding: 0 .9rem;
  margin: 0;
}

.filter-list>li.item-content {
  padding-left: 0;
}

.filter-list>li.item-content .item-title {
  font-size: .8rem;
}

.filter-list>li.item-content.active {
  color: #f74c4c;
}

.filter-list>li.item-content.active:before {
  position: absolute;
  font-family: "iconfont-sm" !important;
  content: "\e608";
  right: 1rem;
  top: .7rem;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #c8b4b4;
}



.loadAnimation {
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  background-size: 100% 100%;
  animation-duration: .45s;
  animation-name: loadAnimation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.ld-modal-wrap.loading {
  background-color: rgba(255, 255, 255, 1);
}

.maskDiv {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 99999999;
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: none;
}

.warnDomDiv {
  width: 80%;
  height: auto;
  background: rgb(238, 238, 238);
  text-align: center;
  left: 10%;
  top: 35%;
  position: absolute;
  border-radius: 6px;
  display: none;
  z-index: 100000000;
  font-family: Microsoft YaHei;
  line-height: 25px;
}

.warnDomDiv .warnDomDivTop {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1em;
}

.warnDomDiv .warnDomDivTop #logoImg {
  display: none;
}

.warnDomDiv .warnDomDivTop .tips {
  font-size: 1.1em;
  color: #3d3d3d;
}

.warnDomDiv .warnDomDivTop .errormsgP {
  font-size: 1.0em;
  padding: 0 10px;
  color: #96786e;
  font-weight: 300;
}

.warnDomDiv .warnDomDivBottom {
  width: 100%;
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #a0a3a3;
  color: #3d3d3d;
}

.warnDomDiv .warnDomDivBottom .leftMsgDiv {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #a0a3a3;
  width: 48%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  display: inline;
  float: left;
  font-size: 1.1em;
}

.warnDomDiv .warnDomDivBottom .rightMsgDiv {
  width: 48%;
  height: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  float: right;
}

.warnDomDiv .warnDomDivBottom .leftbutStrong {
  font-size: 1.1em;
  color: #96786e;
  font-weight: 300;
}

.warnDomDiv .warnDomDivBottom .rightbutStrong {
  font-size: 1.1em;
  color: #f74c4c;
  font-weight: 300;
}

.td-u {
  text-decoration: underline;
}

.ico {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/ico.png) no-repeat;
}

.ico-eye {
  width: 16px;
  height: 16px;
  background: url(../img/ico-eye.png) no-repeat left center;
  background-size: 16px;
}

.ico-eye-close {
  width: 15px;
  height: 7px;
  background: url(../img/ico-eye-close.png) no-repeat left center;
  background-size: cover;
}

.banner-box {
  position: relative;
}

.banner-box>a,
.banner-box img {
  display: block;
  width: 100%;
}

.banner-box .ico-del {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  width: .9rem;
  height: .9rem;
  background-size: .9rem;
}

.pd-details-box1>.ele {
  padding: 0.75rem;
  background-color: #fff;
}

.pd-details-box1>.ele+.ele {
  margin-top: .75rem;
}

.pd-details-box1>.base-inf>.item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pd-details-box1>.base-inf>.item1>* {
  flex-basis: 2.5rem;
}

.pd-details-box1>.base-inf>.item1 p {
  flex: 3;
  margin: 0 1rem 0 0;
  line-height: 1.4;
}

.link-more {
  flex-basis: 1.8rem !important;
  display: inline-block;
  padding: 3px 2px;
  border: solid 1px #c8b4b4;
  font-size: 0.6rem;
  border-radius: 5px;
  color: #96786e;
  text-align: center;
}

.advantage-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1.25rem;
}

.advantage-list li {
  list-style: none;
}

.advantage-list li .img-con {
  width: 3.25rem;
  height: 3.8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.advantage-list li .img-con img {
  max-width: 100%;
}

.advantage-list li h3 {
  margin: 0.75rem 0 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
}

.lhb-vs-bankPro h3 {
  margin: .5rem 0 1.5rem;
  text-align: center;
  font-size: .8rem;
  font-weight: normal;
}

.lhb-vs-bankPro>.item {
  display: flex;
  align-items: center;
  font-size: .6rem;
  margin-bottom: 1.65rem;
}

.lhb-vs-bankPro>.item>.l {
  text-align: right;
  line-height: 1.5;
  flex: 0 1 5.2rem;
}

.lhb-vs-bankPro>.item>.l label {
  display: block;
  font-size: .7rem;
}

.lhb-vs-bankPro>.item .c {
  margin: 0 .5rem 0 .75rem;
  height: 1rem;
}

.lhb-vs-bankPro>.item1>.c {
  width: 40%;
  background-color: #f77c7c;
}

.lhb-vs-bankPro>.item2>.c {
  width: 4%;
  background-color: #9bbaff;
}

.lhb-pro-baseInf {
  padding: .75rem 1rem;
  text-align: center;
  font-size: .6rem;
  color: #c8b4b4;
}

.nl-lhb-detais>footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.65rem 1.75rem;
  background-color: #fff;
}

.nl-lhb-detais>.content {
  bottom: 3.9rem;
}

.select-lhb-pro-list>li .cont {
  margin-left: 0;
}

.sel-hbProList-modal .con>.tip {
  padding: 0.35rem 0;
  text-align: center;
  font-size: .6rem;
  border-top: solid 1px #e6dcdc;
}

.pd-details-box>.more-tip-box {
  margin-top: -0.75rem;
  padding: 1.1rem 1rem;
  text-align: center;
}

.pd-details-box>.more-tip-box .button {
  display: inline-block;
  color: #96786e;
  border-color: #c8b4b4;
}

.pd-form-con>.ele-box>.item-form+.tit {
  margin-top: 1rem;
}

.pd-form-con>.ele-box>.tit>p {
  font-size: .6rem;
  color: #c8b4b4;
  margin: .2rem 0 0;
}

.pd-form-con>.ele-box>.buy-item-form .control {
  margin-left: 0;
  position: relative;
}

.pd-form-con>.ele-box>.buy-item-form .control input[type="number"] {
  text-align: left;
}

.pd-form-con>.ele-box>.buy-item-form .control:after {
  position: absolute;
  content: "元";
  right: 0;
  top: .7rem;
}

.rd-inp-box {
  display: flex;
  justify-content: space-between;
}

.rd-inp-box>.inp-con {
  width: 63%;
  position: relative;
}

.rd-inp-box>.inp-con .inp {
  font-size: .8rem;
  padding: .7rem;
  border-radius: 4px;
  border: solid 1px #e6dcdc;
  min-width: 0;
  width: 100%;
}

.rd-inp-box>.inp-con:after {
  position: absolute;
  top: .8rem;
  right: .5rem;
  content: "元";
  font-size: .8rem;
}

.rd-inp-box .button {
  width: auto;
  font-size: .7rem;
}

.ld-bar-nav>.pull-right {
  color: #fff;
  position: relative;
  z-index: 10;
  font-size: .8rem;
}

.ld-bar-nav>.pull-right .icon {
  margin-left: 5px;
  font-size: .7rem;
}

.trading-list>li {
  background-color: #fff;
  display: flex;
}

.trading-list>li>a {
  display: flex;
  color: #96786e;
  width: 100%;
}

.trading-list>li>a>* {
  height: 5rem;
}

.trading-list>li .l {
  padding: 1rem .5rem;
  text-align: center;
  width: 26.66%;
  background-color: #fafafa;
}

.trading-list>li .l label {
  font-size: .9rem;
  display: block;
  margin-bottom: .3rem;
}

.trading-list>li .l .time {
  font-size: .6rem;
  color: #c8b4b4;
  line-height: 1.4;
}

.trading-list>li .c {
  padding: .75rem .5rem;
  width: 73.34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trading-list>li .c .icon {
  font-size: .8rem;
  color: #dcd2d2;
}

.trading-list>li+li {
  margin-top: .75rem;
}

.trading-list>li.c1>a .c-state {
  color: #f74c4c;
}

.trading-list>li.c2>a .c-state {
  color: #32be96;
}

.trading-list>li.not-has-data {
  padding: 1.5rem .5rem;
  text-align: center;
  justify-content: center;
}

.filter-modal {
  top: 2rem;
  bottom: auto;
}

.filter-modal>.con {
  padding: 0 .9rem;
  margin: 0;
}

.filter-list>li.item-content {
  padding-left: 0;
}

.filter-list>li.item-content .item-title {
  font-size: .8rem;
}

.filter-list>li.item-content.active {
  color: #f74c4c;
}

.filter-list>li.item-content.active:before {
  position: absolute;
  font-family: "iconfont-sm" !important;
  content: "\e608";
  right: 1rem;
  top: .7rem;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #c8b4b4;
}


.ld-modal-wrap.loading {
  background-color: rgba(255, 255, 255, 1);
}

.maskDiv {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 99999999;
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: none;
}

.warnDomDiv {
  width: 90%;
  height: auto;
  background: #fff;
  text-align: center;
  left: 5%;
  top: 35%;
  position: absolute;
  border-radius: 6px;
  display: none;
  z-index: 100000000;
  font-family: Microsoft YaHei;
  line-height: 25px;
}

.warnDomDiv .warnDomDivTop {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1em;
}

.warnDomDiv .warnDomDivTop #logoImg {
  display: none;
}

.warnDomDiv .warnDomDivTop .tips {
  font-size: 1.3em;
  color: #96786E;
}

.warnDomDiv .warnDomDivTop .errormsgP {
  font-size: 0.97em;
  color: #96786e;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}

.warnDomDiv .warnDomDivBottom {
  width: 100%;
  height: auto;
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e6dcdc;
  color: #3d3d3d;
}

.warnDomDiv .warnDomDivBottom .leftMsgDiv {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #e6dcdc;
  width: 48%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  display: inline;
  float: left;
  font-size: 0.97em;
}

.warnDomDiv .warnDomDivBottom .rightMsgDiv {
  width: 48%;
  height: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  float: right;
}

.warnDomDiv .warnDomDivBottom .leftbutStrong {
  font-size: 1.1em;
  color: #f74c4c;
  font-weight: 300;
}

.warnDomDiv .warnDomDivBottom .rightbutStrong {
  font-size: 0.97em;
  color: #f74c4c;
  font-weight: 300;
}

.f-F74C4C {
  color: #F74C4C;
  font-style: normal;
}

.showIn {
  text-align: left;
  color: #C8B4B4;
  font-size: 12px;
  padding: 0 10px;
  line-height: 18px;
}
